<p style="color: green"><%= notice %></p>

<%= render @owner %>

<div>
  <%= link_to "Edit this owner", edit_owner_path(@owner) %> |
  <%= link_to "Back to owners", owners_path %>

  <%= button_to "Destroy this owner", @owner, method: :delete %>
</div>
