<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { class: 'bodies' }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true,placeholder: 'email', autocomplete: "email",class: 'inputs' %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password,placeholder: 'Password characters minimum', autocomplete: "new-password", class: 'inputs' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation,placeholder: 'Password comfirmation', autocomplete: "new-password", class: 'inputs' %>
  </div>

  <div class="field">
    <%= f.submit "Sign up",class: 'inputs' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
